.adicionar-botao{
    color: white;

}

.btn-add {
    padding: 15px;
    background: linear-gradient(90deg, #f16342, #b03cb7, #7639f2);
    cursor: pointer;
    color: white;
    font-weight: bold;
}